body {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    background-color: azure;
}

.wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

.header {
    background-color: rgb(119, 192, 255);
}
